<div>
    <h2 translate="quizApp.reponse.home.title">Reponses</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="reponse.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="quizApp.reponse.home.createLabel">Create a new Reponse</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteReponseConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(reponse.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="quizApp.reponse.delete.question" translate-values="{id: '{{reponse.id}}'}">Are you sure you want to delete this Reponse?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="quizApp.reponse.label">Label</th>
                    <th translate="quizApp.reponse.question">question</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reponse in reponses track by reponse.id">
                    <td><a ui-sref="reponse.detail({id:reponse.id})">{{reponse.id}}</a></td>
                    <td>{{reponse.label}}</td>
                    <td>
                        <a ui-sref="question.detail({id:reponse.question.id})">{{reponse.question.label}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="reponse.detail({id:reponse.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="reponse.edit({id:reponse.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(reponse.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
